/*Project Problems 

1. Logo is not all the way to the left
2. Sections are not spaced all the way out
3. Email and Submit Buttons are not centered
4. Sticky header wont overflow (go on top of) the video & email input elements
*/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
  }

  #page-wrapper {
    position: relative;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  .btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
  }

  .grid {
    display: flex;
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    width: 100%;
    max-width: 100%;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
    background: gray;
    overflow: hidden;
  }

  header{
    margin: auto;
    height: 100px;
  }

  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  
  .logo {
    width: 60vw;
  }
  
  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }




#video{
    width: 400px;
    height: 200px;
  }
  
  #header-img{
    width: 100px;
  }

  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }

  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  
  nav {
    font-weight: 400;
  }
  
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }


  @media (max-width: 650px) {
    #hero {
      margin-top: 120px;
    }
  }
  
  
  @media (max-width: 550px) {
    #features .icon {
      display: none;
    }
  }
  
  #features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }
  
  @media (max-width: 550px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    #Features {
      margin-top: 0;
    }
  }
  
  #how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  
  footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
  }
  
 

  #video{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #Quality{
    margin-top: 40px;
  }

  #Our-Why{
    margin-top: 50px;
  }

  #Features{
    margin-top: 40px;
  }


  #Rode, #Audio-Technica, #Neumann{
    margin-top: 600px;
}

#video {
  margin-top: 350px;
  width: 800px;
  height: 400px;
}

#High-End {
  text-align: center;
  margin-top: 10px;
}

#header-img{
  left: 1000px;
}

/*Learn how to center the email*/
#email{ 
  position: relative;
  margin-top: 50px;
}

/*Center Submit button*/
.slogan
{
  justify-content: center;
  align-items: center;
}

/*Seperate the Features, How it Works & Pricing Sections up*/
